.container {
  margin-inline: 10rem;
  // margin-block: 5rem;
  .logo {
    img {
      width: 3rem;
      margin-top: 1rem;
      margin-bottom: 5rem;
    }
  }
  .details {
    display: flex;

    .synopsis {
      color: #ffffff;
      margin-left: 2rem;

      h1 {
        margin: 0;
      }

      p {
        text-align: justify;
        border: 1px solid transparent;
        background-color: #242424;
        width: 80%;
        padding: 1rem;
      }
    }
    ul {
      display: inline-block;
      list-style: none;
      padding-left: 20px;
      li {
        color: #0feffd;
        border: 1px solid transparent;
        background-color: rgba(15, 239, 253, 0.1);
        padding: 5px;
        border-radius: 0px 8px;
        text-align: center;
      }
    }
    .summary {
      border: 1px solid transparent;
      border-radius: 0px 8px;
      background-color: #242424;
      width: 80%;
      padding: 1rem;
      p {
        margin: 0;
      }
    }
  }
  .similar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 5rem;

    h1 {
      color: white;
    }

    p {
      color: #ffe922;
    }

    a {
      text-decoration: none;
    }
  }
  .cardContainer {
    overflow: hidden;

    .cardGroup {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-bottom: -50px; /* maximum width of scrollbar */
      padding-bottom: 50px; /* maximum width of scrollbar */
    }

    a {
      text-decoration: none;
    }
  }
}
